!defaultRadius 2

token form getForm 0
token lemma getForm 2
let ngr n 2
token ngr ngrams 0
let prefix n 6 
let suffix n 4
token prefix prefix 0
token suffix suffix 0

token hascap hasCapOperator 0
token capitalized isCapOperator 0
token allcaps isAllcapsOperator 0
token camel isCamelOperator 0 3
token threecaps threeCaps 0
token capperiod CapPeriodOperator 0

token longpatt longPattern 0
token shortpatt shortPattern 0

token isdigit isDigitOperator 0
token onedigit oneDigitNumOperator 0
token twodigit twoDigitNumOperator 0
token fourdigit fourDigitNumOperator 0
token startswithnumber startsWithNumberOperator 0
token digitslash containsDigitAndSlashOperator 0
token digitdash containsDigitAndDashOperator 0 
token digitcomma containsDigitAndCommaOperator 0
token hasnumber hasNumberOperator 0

token yeardecade YearDecadeOperator 0

token hasdash hasDashOperator 0
token hasperiod hasPeriodOperator 0
token punct isPunctuationOperator 0

token pos getBNCtag 1
token posstart posStart 1
token posend posEnd 1

let krpatt rad 3
let krpatt minLength 2
let krpatt maxLength 99
let krpatt lang en

sentence krpatt krPatts 1 0
sentence sentstart newSentenceStart 0 0
sentence sentend newSentenceEnd 0 0 

lex pers hunner/freebase_lists/pers/pers.sorted 0
lex loc hunner/freebase_lists/loc/loc.sorted 0
lex misc hunner/freebase_lists/misc/misc.sorted 0
lex org hunner/freebase_lists/org/org.sorted 0
lex trainloc hunner/enwiki/fromTrainLists/loc.fromtrain.list 0
lex trainmisc hunner/enwiki/fromTrainLists/misc.fromtrain.list 0
lex trainorg hunner/enwiki/fromTrainLists/org.fromtrain.list 0
lex trainper hunner/enwiki/fromTrainLists/per.fromtrain.list 0

